name: Unit Tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "qlty-*/**"
      - "Cargo.*"
      - ".github/workflows/cli.yml"
  pull_request:
    paths:
      - "qlty-*/**"
      - "Cargo.*"
      - ".github/workflows/cli.yml"

permissions:
  actions: write
  contents: read
  id-token: write

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15, windows-latest]
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}
      cancel-in-progress: true

    steps:
      - run: git config --global core.autocrlf false

      - name: Checkout qlty
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@2fcdc490d667999e01ddbbf0f2823181beef6b39
        with:
          toolchain: stable

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@16edcff251c6bb06f6878981359f84b77b28e7e2

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - name: Run Test
        run: cargo llvm-cov --lcov --output-path target/lcov.info -- --include-ignored

      - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          oidc: true
          files: target/lcov.info
          tag: ${{ matrix.os }}
          skip-errors: false
