name: Fmt

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.QLTY_APP_ID }}
          private-key: ${{ secrets.QLTY_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: ${{ github.head_ref }}
      - uses: qltysh/qlty-action/fmt@a19242102d17e497f437d7466aa01b528537e899
      - name: Commit changes
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        with:
          token: ${{ steps.app-token.outputs.token }}
          title: qlty fmt --all
          body: Automated PR for qlty fmt --all
          labels: chore
          branch: fmt
          delete-branch: true
          sign-commits: true
          commit-message: qlty fmt --all
          committer: qltysh[bot] <168846912+qltysh[bot]@users.noreply.github.com>
          author: qltysh[bot] <168846912+qltysh[bot]@users.noreply.github.com>
