name: Installer Tests
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    paths:
      - installer/install.*
      - .github/workflows/installer_test.yml

permissions:
  actions: write
  contents: read
  id-token: write

jobs:
  test:
    name: Test ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    env:
      INSTALL_SH: installer/install.sh
      INSTALL_PS1: installer/install.ps1
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: Linux
            name: Linux / sh
            runner: ubuntu-latest
            file: $INSTALL_SH
            command: sh

          - os: Linux
            name: Linux / dash
            runner: ubuntu-latest
            file: $INSTALL_SH
            command: dash

          - os: Linux
            name: Linux / sh (specific version)
            runner: ubuntu-latest
            file: $INSTALL_SH
            command: sh
            version: 0.447.0

          - os: Linux
            name: Linux / bash
            runner: ubuntu-latest
            file: $INSTALL_SH
            command: bash

          - os: Linux
            name: Linux / debian (sh / wget)
            runner: ubuntu-latest
            # debian:trixie-slim
            container: debian@sha256:77ba0164de17b88dd0bf6cdc8f65569e6e5fa6cd256562998b62553134a00ef0
            package_install: apt-get update && apt-get install -y xz-utils wget
            file: $INSTALL_SH
            command: sh

          - os: Linux
            name: Linux / alpine (sh)
            runner: ubuntu-latest
            # alpine:3
            container: alpine@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
            package_install: apk add -U xz
            file: $INSTALL_SH
            command: sh

          - os: macOS
            name: macOS / sh
            runner: macos-15
            file: $INSTALL_SH
            command: sh

          - os: macOS
            name: macOS / bash
            runner: macos-15
            file: $INSTALL_SH
            command: bash

          - os: Windows
            name: Windows / powershell
            runner: windows-latest
            file: $Env:INSTALL_PS1
            command: powershell -Command -

          - os: Windows
            name: Windows / powershell (specific version)
            runner: windows-latest
            file: $Env:INSTALL_PS1
            command: powershell -Command -
            version: 0.447.0

    container:
      image: ${{ matrix.container }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false

      - name: Install dependencies
        if: matrix.package_install
        run: ${{ matrix.package_install }}

      - name: Install qlty
        env:
          QLTY_VERSION: ${{ matrix.version }}
        run: cat ${{ matrix.file }} | ${{ matrix.command }}

      - name: Validate qlty install
        run: ~/.qlty/bin/qlty version --no-upgrade-check
        shell: sh

      - name: Validate qlty version
        if: matrix.version
        run: V="$(~/.qlty/bin/qlty version --no-upgrade-check | cut -d' ' -f2)"; test "$V" = "${{ matrix.version }}"
        shell: sh
