name: Installer Live Tests
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

permissions:
  actions: write
  contents: read
  id-token: write

jobs:
  test:
    name: ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            command: curl https://qlty.sh | sh

          - runner: macos-15
            command: curl https://qlty.sh | sh

          - runner: windows-latest
            command: powershell -c "curl.exe -fsSL https://qlty.sh | iex"
    steps:
      - name: Install qlty and validate
        run: ${{ matrix.command }} && ~/.qlty/bin/qlty version --no-upgrade-check
        shell: sh
