name: Release Installer
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - installer/install.*
permissions:
  contents: read
jobs:
  test:
    uses: ./.github/workflows/installer_test.yml
  release:
    permissions:
      contents: read
      attestations: write
      id-token: write
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Generate attestations for installer scripts
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a
        with:
          subject-path: |
            installer/install.sh
            installer/install.ps1
      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838
        with:
          role-to-assume: ${{ secrets.QLTY_RELEASE_AWS_ROLE_ARN }}
          role-session-name: ${{ vars.QLTY_RELEASE_AWS_ROLE_SESSION_NAME }}
          aws-region: ${{ vars.QLTY_RELEASE_AWS_REGION }}
      - name: Upload to S3
        working-directory: installer
        run: |
          aws s3 cp install.ps1 ${VARS_QLTY_RELEASE_AWS_S3_DESTINATION}/installer/
          aws s3 cp install.sh ${VARS_QLTY_RELEASE_AWS_S3_DESTINATION}/installer/
        env:
          VARS_QLTY_RELEASE_AWS_S3_DESTINATION: ${{ vars.QLTY_RELEASE_AWS_S3_DESTINATION }}